!!! 5

%html
  %head
    %script{:src => 'http://code.angularjs.org/1.1.2/angular.min.js'}
    %script{:src => 'fb.js'}
    %script{:src => 'party.js'}
  %body
    .fb-root
    %h1 Header
    %p
      Status:
      %span#fb-status
    %button{:onClick => 'login()'} Login
    %button{:onClick => 'logout()'} Logout
