!!! 5

%html
  %head
    %script{:src => 'http://code.angularjs.org/1.1.2/angular.min.js'}
    %script{:src => 'js/fb.js'}
    %script{:src => 'js/party.js'}
  %body
    .fb-root
    %p
      Status:
      %span#fb-status
    %button{:onclick => 'login()'} Login
    %button{:onclick => 'logout()'} Logout
